<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Reply Email Notification</title>

    <style type="text/css">
        /* Basic styles */
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>You have a new reply!</h1>
    <p>Hi <%= name %>,<br>
            You have a new reply to your question.</p>
    <a href="https://www.example.com/login">Log in</a> to view the reply and continue the discussion.
    <br>
    Thank you for being part of our community!
</body>

</html>